@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema Planet - @ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @RenderSection("AddToHead", false)
    <script src="https://kit.fontawesome.com/67163f62cb.js" defer crossorigin="anonymous"></script>
</head>
<body>
    @if (ViewBag.HideNavBar == null)
    {
        @Html.Partial("_NavBar")
    }


    <div class="container col-11 col-sm-10 mt-3 p-4 pb-5">
        <div id="mainHeader" class="text-warning text-center display-4 mb-3">
            <div class="main-header-text">
                @ViewBag.HeaderText
            </div>
            @if (ViewBag.TargetAction != null)
            {
                <div class="back-link-container d-flex flex-column align-items-center">
                    <a class="back-link-icon text-warning text-decoration-none  " href=@Url.Action(ViewBag.TargetAction,ViewBag.TargetController)>
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                    <small class="back-link-text"> to @ViewBag.TargetAction Manager</small>
                </div>

            }
        </div>

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jqueryBootstrap")
    @RenderSection("scripts", false)
</body>
</html>