@using CinemaPlanet.WebUI.Infastructure
@using CinemaPlanet.Domain.Core.DomainModels
@model IEnumerable<CinemaPlanet.Domain.Core.DomainModels.Movie>

@{
    ViewBag.Title = "Main";
    ViewBag.HeaderText = "Place your order";

}

@section AddToHead
    {
    <link rel="stylesheet" href="~/Content/CustomStyles/user/index.css">
}

<div class="col-10 d-flex flex-column justify-content-center flex-sm-row align-items-sm-end mx-auto">
    <div class="mr-sm-2 mb-2 mb-sm-0">
        <label for="genresList" class="form-label text-warning">By Genre</label>
        <select id="genresList" class="form-control drop-filter">
            <option selected>Any Genre</option>
            @foreach (var genre in Enum.GetNames(typeof(Genre)))
            {
                <option>@genre</option>
            }
        </select>
    </div>

    <div class="mr-sm-2 mb-2 mb-sm-0">
        <label for="yearsList" class="form-label text-warning">By Release Year</label>
        <select id="yearsList" class="form-control drop-filter">
            <option selected>Any Year</option>
            @for (int i = 1990; i <= DateTime.Now.Year; i++)
            {
                <option>@i</option>
            }
        </select>
    </div>

    <a href="user" id="filterLink" class="btn btn-primary h-50 mt-2">Filter</a>
</div>

@if (Model.Count() > 0)
{
    <div class="movies-container d-flex flex-wrap justify-content-center">
        @foreach (var movie in Model)
        {
            <div class="movie-container m-2">
                <div class="movie-image-box d-flex justify-content-center align-items-center">
                    <img class="mainImg" src=@movie.ImageUrl>
                    <div class="movie-info-container bg-dark p-3 bo border border-warning rounded">
                        <div class="order-table">
                            <div class="name-container">
                                <h4 class="text-center text-warning m-0">@movie.Name</h4>
                                <hr />
                            </div>
                            <div class="additional-info-container">
                                <h5 class="text-warning text-center"> @movie.ReleaseDate.Year (@movie.Genre)</h5>
                            </div>
                            <img class="order-table-img" src=@movie.ImageUrl>
                            <div class="order-form-container px-1 text-center">
                                @using (Html.BeginForm("PlaceOrder", "User", new { movieId = movie.Id }))
                                {
                                    @Html.AntiForgeryToken();

                                    <div class="form-group">
                                        <label class="form-label text-warning" for="sessionDate">Pick up date</label>
                                        @Html.SessionDatesForMovieDropDown(movie, "date")
                                    </div>
                                    <div class="form-group text-warning">
                                        <label for="seatType">Pick up seat</label>
                                        @Html.AvailableSeatsForMovieDropDown(movie, "seatType")
                                    </div>
                                    <div class="price-container d-inline">
                                        <span data-seat-type="basic" class="h3 text-warning price basic">@movie.BasicSeatPrice$</span>
                                        <span data-seat-type="silver" class="h3 text-warning price silver invisible">@movie.SilverSeatPrice$</span>
                                        <span data-seat-type="gold" class="h3 text-warning price gold invisible">@movie.GoldSeatPrice$</span>
                                    </div>
                                    <button type="submit" class="btn btn-success ml-2">Order </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else 
{
  <h3 class="no-entries-message text-warning text-center mt-3">No Entries Found :(</h3>
}


@section Scripts
{
    <script>
        $('document').ready(() => {
            const queryParams = {}

            $('.drop-filter').change((e) => {
                const selectedVal = $(e.target).val();

                if (selectedVal === 'Any Genre') delete queryParams.genre;
                else if (selectedVal === 'Any Year') delete queryParams.year;
                else if (isNaN(parseInt(selectedVal))) queryParams.genre = selectedVal;
                else queryParams.year = selectedVal;

                const serialized = $.param(queryParams);
                $('#filterLink').attr('href', 'User' + '?' + serialized);
            });

            const showMovieInfoClass = 'movie-info-container-displayed';

            $('.mainImg').click((e) => {
                e.stopPropagation();
                $('.movie-info-container').removeClass(showMovieInfoClass);
                $(e.target).siblings().addClass(showMovieInfoClass);
            });

            $('.movie-info-container').click((e) => {
                e.stopPropagation();
            });

            $(document).click(() => {
                $('.mainImg').siblings().removeClass(showMovieInfoClass);
            });

            $('.form-control[name="seatType"]').change((e) => {
                const seatType = $(e.target).val();
                const priceContainer = $(e.target).parent().next();
                const priceSpans = priceContainer.children();

                Array.from(priceSpans).forEach(ps => {
                    if ($(ps).attr("data-seat-type").toLocaleLowerCase() === seatType.toLocaleLowerCase()) {
                        $(ps).removeClass("invisible");
                    }
                    else {
                        if (!$(ps).hasClass("invisible"))
                            $(ps).addClass("invisible");
                    }
                });
            });
        });
    </script>
}
